  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a [routerLink]="['/']">Logics Computer Institute</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
          <li class="dropdown"><a [routerLink]="['/']"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#" [routerLink]="['/about-us']">About Us</a></li>
                <li><a href="#" [routerLink]="['/director-message']">Director Message</a></li>
                <li><a href="#" [routerLink]="['/why-us']">Why Us</a></li> 
                <li><a href="#" [routerLink]="['/vission-mission']">Vission & Mission</a></li>                                
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Cources</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>BASICS</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">1.MS OFFICE</a></li>
                  <li><a href="#">2.MS EXCELL</a></li>
                  <li><a href="#">3.MS POWERPOINT</a></li>
                  <li><a href="#">4.MS PAINT</a></li>
                  <li><a href="#">5.MS DOS</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Careers Courses</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">1.Diploma in Computer Application (6 Months)</a></li>
                    <li><a href="#">2.Diploma in Computer Training (8 Months)</a></li>
                    <li><a href="#">3.Advance Diploma in Computer Application</a></li>
                    <li><a href="#">4.Computer Teacher's Training</a></li>
                    <li><a href="#">5.Advance Diploma in Computer Concept</a></li>
                    <li><a href="#">6.Advance Diploma in Computer Studies</a></li>
                    <li><a href="#">7.Advance Diploma in Computer Concept</a></li>
                    <li><a href="#">8.Advance Diploma in Computer Concept</a></li>
                    <li><a href="#">9.Advance Diploma in Computer Concept</a></li>
                </ul>
              </li>     
              <li class="dropdown"><a href="#"><span>Professional Courses</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">1.Desktop Publishing (DTP) (3 months)</a></li>
                    <li><a href="#">2.Diploma in Graphics Designing (6 Months)</a></li>
                    <li><a href="#">3.Diploma in Web Designing</a></li>
                    <li><a href="#">4.Diploma in Multimedia & Animation</a></li>
                    <li><a href="#">5.Advance Diploma in Multimedia Animation</a></li>
                    <li><a href="#">6.Advance Diploma in Graphic Designing</a></li>
                    <li><a href="#">7.Web Designing Programming </a></li>
                    <li><a href="#">8.Diploma in Web Designing Programming</a></li>
                    
                </ul>
              </li>        
              
              <li class="dropdown"><a href="#"><span>Financial Courses</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">1.Basic in financial Accounting</a></li>
                    <li><a href="#">2.Diploma in Financial Accounting</a></li>
                    <li><a href="#">3.Advance Tally ERP with Taxation</a></li>
                    <li><a href="#">4.Basic Concept of Accounting</a></li>
                    <li><a href="#">5.Advance Diploma in Accounting & Taxation</a></li>
                    <li><a href="#">6.Computerized Financial Accounting</a></li>
                 </ul>
              </li>  
              <li class="dropdown"><a href="#"><span>Engineering Courses</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">1.AutoCAD with 2D & 3D</a></li>
                    <li><a href="#">2.3Ds MAX</a></li>                   
                 </ul>
              </li>
            </ul>
          </li>
          <li><a [routerLink]="['/events']">Events</a></li>
          <!-- <li><a [routerLink]="['/pricing']">Pricing</a></li> -->

         
          <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->
